/* colors
#E27D5F #AC6047
#85CDCA #69A2A0
#E8A87C #AE7E5C
#C38D9D #9E717E
#40B3A2 #2D8376
#7DC2AF
#1BBEE2
#FAC2C1
*/

@font-face {
    font-family: 'ibm_mono_medium';
    src: url(../../assets/fonts/ibmPlexMono/IBMPlexMono-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-style: normal;
}

.Body {
    background-image: -moz-linear-gradient(90deg, #1BBEE2, #d57fdd);
    min-height: 180px;
    height: 200px;
}

.message {
    font-family: 'ibm_mono_medium';
    padding: 30px;
    text-align: center;
    text-shadow: 0 5px 5px #E8A87C;
    transition: all 1s;
}

.message:hover {
    text-shadow: 0 15px 25px #c816d8;
}


@media screen and (min-width: 50px) and (min-height: 50px) and (orientation: portrait) {
    .Body {
        height: 55vh;
    }
}

@media screen and (min-width: 650px) and (min-height: 350px) and (max-height: 1000px) and (orientation: landscape) {

    .Body {
        height: 65vh;
    }

    .message p {
        font-size: 80%;
    }
}